<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WebViewProgress.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4256EA4C1E7A25650099F07E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4256EA651E7A25650099F07E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4256EA701E7A25650099F07E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
